.banner {
  background: #1F526F;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks {
  width: 500px;
}
.navlinks ul {
  margin: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navlink {
  color: #AAADC4;
  font-family: 'Poppins', sans-serif;
  font-size: 1.35em;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}
.navicons {
  display: none;
  width: 50%;
  margin: 10px;
}
.navicons ul {
  margin: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navicon img {
  width: 40px;
  border-radius: 5px;
  padding: 5px;
}
.banner .placeholder {
  width: 150px;
  height: 75%;
  margin: 10px;
}
.banner .placeholder span {
  font-size: 1em;
}
@media only screen and (max-width: 700px) {
  .navlinks {
    display: none;
  }

  .navicons {
    display: block;
  }
}