.App {
  height: 100vh;
  width: 100vw;
  position: absolute;
  margin: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.placeholder {
  background: #ccc;
  border: 1px solid red;
  text-align: center;
  position: relative;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}