.bannerHome {
  background: #1F526F;
  position: fixed;
  width: 100vw;
  display: flex;
}
.placeholder {
  background: #ccc;
  border: 1px solid red;
  text-align: center;
  position: relative;
  font-weight: bold;
  width: 200px;
  height: 50px
}
.placeholder span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}
